.item {
  background-color: #9994ff;
  border-radius: 1rem;
  color: white;
  padding: 1rem;
  max-width: 30rem;
  position: relative;

  &__name {
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    margin: -1.7rem 0 1.5rem 4rem;
  }

  &__description {
    font-size: 1.4rem;
    margin-bottom: 3rem;
  }
  &__buttons {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
  }
  &__checkbox {
    -webkit-appearance: none;
    visibility: hidden;
    & + label {
      display: flex;
      align-items: center;
      user-select: none;
      margin-top: -1rem;
    }
    & + label::before {
      content: "";
      display: inline-block;
      width: 1em;
      height: 1em;
      flex-shrink: 0;
      flex-grow: 0;
      border: 1px solid #adb5bd;
      border-radius: 0.25em;
      margin-right: 0.5em;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
    }
    &:checked + label::before {
      border-color: #15a532;
      background-color: #2daf2d;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    }
  }
}
