@import "./reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

html {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  background-color: #9994ff;
}
body {
  font-size: 1.6rem;
  height: 100vh;
}


@media (max-width: 767.98px) {
  html {
    font-size: 8px;
  }
}
